<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Accountant</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
    <style type="text/css">
	body
	{
		padding: 0;
		margin: 0;Handover
	}
	</style>
</head>
<body>
        <div class="container">
            <div class="row">
				<div class="col-md-8 col-md-offset-2" style="margin-top:7%;background-color:rgb(236,236,236);border:1px solid rgb(215,215,215);">
					<div class="row">
						<a href="#" class="col-md-offset-11" style="display:block;margin-top:10px;"><b>Log-out</b></a>
						<p class="brand-title">Kế toán</p>
					</div>
				</div>
				<div class="col-md-8 col-md-offset-2" style="border:1px solid rgb(215,215,215); border-top:none;">	
					<div class="row">
						<div class="col-md-6 form-inline col-md-offset-3" style="border:3px solid rgb(236,236,236);border-radius:10px; background-color:white;margin-top:50px;margin-bottom:50px;">
							<div class="col-md-8 col-md-offset-2" style="margin-top:20px;"><button type="button" class="btn btn-primary btn-block" value="btnReport" name="btnReport"><b>Báo cáo</b></button></div>
							<div class="col-md-8 col-md-offset-2" style="margin-top:20px;"><button type="button" class="btn btn-primary btn-block" value="btnHandover" name="btnHandover"><b>Bàn giao ca</b></button></div>
							<div class="col-md-8 col-md-offset-2" style="margin-top:20px;margin-bottom:20px;"><button type="button" class="btn btn-primary btn-block" value="btnBill" name="btnBill"><b>Hóa đơn</b></button></div>
						</div>
					</div>
				</div>
            </div>
        </div>
</body>
</html>