<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<head>
<title>Perfect Destination Traveling Website Template | Contact :: W3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/dropdownlist.css">
<link rel="stylesheet" href="css/flexslider.css" media="screen" />
<!-- jQuery -->
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
 <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>
<!-- FlexSlider -->
 <script defer src="js/jquery.flexslider.js"></script>

 	<script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
<!--End FlexSlider-->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="js/jquery.min.js"></script>
<script src="js/responsiveslides.min.js"></script>
</head>
<body>
		<!---start-wrap---->
			<!---start-header---->
			<div class="header">
				<div class="wrap">
				<!---start-logo---->
				<div class="logo">
					<a href="K0001.html"><img src="images/logo.png" title="logo" /></a>
				</div>
				<!---End-logo---->
                <div class="dropdown">
                      <select name="one" class="dropdown-select">
                        <option value="0">English</option>
                        <option value="1">Japanese</option>
                        <option value="2">Tiếng Việt</option>
                      </select>
                 </div>
				<!---start-top-nav---->
				<div class="top-nav">
					<ul>
						<li><a href="K0001.html">Home</a></li>
						<li><a href="rooms.html">rooms</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="Restaurant.html">Restaurant</a></li>
						<li class="active"><a href="contact.html">Contact</a></li>
					</ul>
				</div>
                <div class="log">
            	<ul>
                	<li><a href="#">Acount</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            	</div>
				<div class="clear"> </div>
				<!---End-top-nav---->
			</div>
			<!---End-header---->
		</div>
		<!---End-wrap---->
		<div class="clear"> </div>
		<!---start-content---->
		<div class="content">
			<div class="wrap">
			<!---start-contact---->
			<div class="section group">				
				<div class="col span_1_of_3">
					<div class="contact_info">
			    	 	<h3>Find Us Here</h3>
			    	 		<div class="map">
					   			<iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#666;text-align:left;font-size:0.85em">View Larger Map</a></small>
					   		</div>
      				</div>
      			<div class="company_address">
				     	<h3>Company Information :</h3>
						    	<p>500 Lorem Ipsum Dolor Sit,</p>
						   		<p>22-56-2-9 Sit Amet, Lorem,</p>
						   		<p>USA</p>
				   		<p>Phone:(00) 222 666 444</p>
				   		<p>Fax: (000) 000 00 00 0</p>
				 	 	<p>Email: <span>info(at)mycompany.com</span></p>
				   		<p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
				   </div>
				</div>				
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h3>Contact Us</h3>
					    <form method="post" action="contact-post.html">
					    	<div>
						    	<span><label>NAME</label></span>
						    	<span><input name="userName" type="text" class="textbox"></span>
						    </div>
						    <div>
						    	<span><label>E-MAIL</label></span>
						    	<span><input name="userEmail" type="text" class="textbox"></span>
						    </div>
						    <div>
						     	<span><label>MOBILE</label></span>
						    	<span><input name="userPhone" type="text" class="textbox"></span>
						    </div>
						    <div>
						    	<span><label>SUBJECT</label></span>
						    	<span><textarea name="userMsg"> </textarea></span>
						    </div>
						   <div>
						   		<span><input type="submit" class="mybutton" value="Submit"></span>
						  </div>
					    </form>

				    </div>
  				</div>				
			  </div>
			  </div>
			<!---End-contact---->
			<div class="clear"> </div>
		</div>
		<!---End-content---->
		<div class="clear"> </div>
        <div class="footer-bar">
            	<h3>Experience a wonderful life</h3>
                <div class="footer-social">
                	<a href="#"><img src="images/facebook-icon.png"></a>
                    <a href="#"><img src="images/twister-icon.png"></a>
                    <a href="#"><img src="images/in-icon.png"></a>
                </div>
        </div>
        <div class="clear"> </div>
        <!---start-footer---->
		<div class="footer">       	
			<div class="wrap">
			<div class="footer-grids">
				<div class="footer-grid">
					<h3 style="font-family:'Times New Roman', Times, serif">LOCATION, MAP</h3>
					<p>XhaoLin hotel, 164-Ha Long-Quang Ninh</p><br>
                    <div id="googleMap" style="width: 260px; height: 150px; border:#F90 solid 1px;">Google Map</div>
				</div>
				<div class="footer-grid">
					<h3 style="font-family:'Times New Roman', Times, serif;text-align:center;">REGISTER TO GET NOTIFICATIONS</h3>
					<div class="footer-grid-email">
                    	<a href="#"><h5>Email address</h5></a>
                    </div>
                    <div class="footer-grid-signup">
                    	<a href="#"><h5>SIGN UP</h5></a>
                    </div>
				</div>
				<div class="footer-grid">
					<h3 style="font-family:'Times New Roman', Times, serif; text-align:center;" >CETIFICATES</h3>
					<div class="flexslider">
                      <ul class="slides">
                        <li>
                            <img src="images/standard1.jpg" />
                            </li>
                            <li>
                            <img src="images/standard2.jpg" />
                            </li>
                            <li>
                            <img src="images/standard3.jpg" />
                            </li>
                            <li>
                            <img src="images/standard4.jpg" />
                            </li>
                      </ul>
                    </div>
				</div>
				<div class="footer-grid footer-lastgrid">
					<h3 style="font-family:'Times New Roman', Times, serif">CONTACT US</h3>
					<p>Please contact us when you need to enjoy</p>
					<div class="footer-grid-address">
						<p>Tel: +841662451994</p>
						<p>Fax: 1234 568</p>
						<p>Email:<a class="email-link" href="#">xhaolinhotel@gmail.com</a></p>
					</div>
				</div>
				<div class="clear"> </div>
			</div>
			</div>
		</div>
		<!---End-footer---->
		<div class="clear"> </div>
		<div class="copy-right">
			<p style="text-transform:none">Design by <a href="https://www.facebook.com/groups/1207951515940541/">XhaolinLayout</a></p>
		</div>
	</body>
</html>

