<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>xhaolin hotel</title>
<link rel="stylesheet" href="style-site1.css" type="text/css"/>

</head>

<body>
		<!--header-->
        <div id="header">
        	<img id="brand" src="image/brand-image.jpg" style="height:150px; width:150px"/>
            <div id="menu">
            	<ul> 
                	<li id="home" style="width:70px;height:30px"><a href="#">Home</a></li>
                    <li id="room" style="width:70px;height:30px"><a href="#">Room</a></li>
                    <li id="event" style="width:70px;height:30px"><a href="#">Event</a></li>
                    <li id="restaurant" style="width:120px;height:30px"><a href="#">Restaurant</a></li>
                    <li id="bar" style="width:70px;height:30px"><a href="#">Bar</a></li>
                </ul>
            </div>
            <div id="log">
            	<ul>
                	<li><a href="#">Acount</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
            <div id="language">
            	<ul>
                	<li><a href="#">Vietnamese</a></li>
                    <li><a href="#">English</a></li>
                    <li><a href="#">Japanese</a></li>
                </ul>
            </div>
            <div id="booking">
            	<a href="#">
                <div class="sub-booking">
                	<a href="#">CHECK IN</a>
                </div>
                </a>
                <a href="#">
                <div class="sub-booking">
                	<a href="#">CHECK OUT</a>
                </div>
                </a>
                <a href="#">
                <div class="sub-booking">
                	<a href="#">PEOPLE</a>
                </div>
                </a>
                <a href="#">
                <div class="booking-button" style="margin:100px 10px 0px 10px;">
                	<a href="#">BOOK NOW</a>
                </div>
                </a>
            </div>
        </div>
        <!--center-->
        <div id="center">
        	<div class="center-main-title">
            	<h1>Welcome to XhaoLin Hotel !</h1>
            </div>
            <div class="center-main-title">
            	<h1 style="color:#006; border-bottom:solid;">Chào mừng quý khách đã đến với khách sạn Xạo lồz của chúng tôi !</h1>,
            </div>
            <!--center-media-->
            <div id="center-media">
            	<h1>PHOTO, VIDEO</h1>
                <video width="450px" height="350px" controls>
                    <source src="video/Vịnh Hạ Long - View toàn cảnh từ trên cao - YouTube.MKV" type="video/mp4">
                </video>
                
                <div class="center-media-block">
                    <div class="center-media-img">
                    <a href="#"><img src="image/img1.jpg"></a>
                    </div>
                    <div class="center-media-img">
                    <a href="#"><img src="image/img2.jpg"></a>
                    </div>
                    <div class="center-media-img">
                    <a href="#"><img src="image/img3.jpg"></a>
                    </div>
                </div>
                <div class="center-media-block">
                    <div class="center-media-img">
                    <a href="#"><img src="image/img4.jpg"></a>
                    </div>
                    <div class="center-media-img">
                    <a href="#"><img src="image/img5.jpg"></a>
                    </div>
                    <div class="center-media-img">
                    <a href="#"><img src="image/img6.jpg"></a>
                    </div>
                    <div class="center-media-img">
                    <a href="#"><img src="image/more.jpg"></a>
                    </div>
                </div>
             </div>
             <!--special-offer-->
             <div id="center-special-offer">
           		<div class="center-main-title">
            	<h1>SPECIAL OFFER</h1>
            	</div>
                
                <div class="special-category">
                	<div class="special-offer-img">
                	<img src="image/beach-party-img.jpg" width="320px"; height="230px">
                    </div>
                    <div class="special-offer-introduce">
                    </div>
                    <div class="detail-button">
                    	<a href="#">Detail</a>
                    </div>
                    
                </div>
                <div class="special-category">
                	<div class="special-offer-img">
                	<img src="image/love-room-img.png" width="320px"; height="230px">
                    </div>
                    <div class="special-offer-introduce">
                    </div>
                </div>
             </div>   
        </div>
        <!--footer-->
        <div id="footer">
        </div>
</body>

</html>
