<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Thông tin của tôi</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <style type="text/css">
	body
	{
		padding: 0;
		margin: 0;
	}
	.label1
	{
		width : 110px;
		text-align:right;
	}
	</style>
</head>
<body>
        <div class="container">
            <div class="row">
				<div class="col-md-6 col-md-offset-3" style="margin-top:2%;background-color:rgb(236,236,236);border:1px solid rgb(215,215,215);">
					<div class="row">
						<div class="col-md-offset-9" style="margin:10px 10px 0px 0px;float:right;">
							<b>|</b><a href="{!! url('/K001/LogOut') !!}"><b> Đăng xuất</b></a>
						</div>
						<div class="col-md-12">
							<p class="brand-title">Thông tin của tôi</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-3" style="background-color:rgb(230,230,230);border:1px solid rgb(215,215,215); border-top:none;border-bottom:none;">
					<div class="row">
						<div class="col-md-12" style="margin-top:10px;border-bottom:1px solid rgb(215,215,215);">
							<ul class="nav nav-tabs">  
								<li class="active "id="panel1-btn"><a href="#"><b>Thông tin tài khoản</b></a></li>
								<li id="panel2-btn"><a href="#"><b>Thông tin cá nhân</b></a></li> 
							</ul>
						</div>
					</div>
					<div id="panel1">
						<div class="col-md-12" style="margin-top:20px;margin-bottom:20px;border: 2px solid rgb(220,220,220);border-radius:10px;">
							<div class="form-inline col-md-offset-1" style="margin-top:20px;">
								<label class="label1" for="">Tên tài khoản: </label>  
								<input id="txtAccountName" name="txtAccountName" type="text" class="form-control input-md" maxlength="50" size="20" autofocus>
							</div>
							<div class="form-inline col-md-offset-1" style="margin-top:20px;">
								<label class="label1" for="">Vị trí: </label>  
								<input id="txtPosition" name="txtPosition" type="text" class="form-control input-md" maxlength="50" size="20">
							</div>
							<div class="form-inline col-md-offset-1" style="margin-top:20px;">
								<label class="label1" for="">Trạng thái: </label>  
								<input id="txtStatus" name="txtStatus" type="text" class="form-control input-md" maxlength="10" size="20">
							</div>
							<div class="form-inline col-md-offset-1" style="margin-top:20px;">
								<label class="label1" for="">Ngày tạo: </label>  
								<input id="txtCreateDay" name="txtCreateDay" type="text" class="form-control input-md" size="20">
							</div>
							<div class="col-md-6 col-md-offset-3" style="margin-top:20px;margin-bottom:20px;"><button class="btn btn-primary btn-block" value="bntBack" name="bntBack"><b>Đổi mật khẩu</b></button></div>
						</div>
					</div>
					<div id="panel2">
						<div class="col-md-12" style="margin-top:20px;margin-bottom:20px;border: 2px solid rgb(220,220,220);border-radius:10px;">
							<div class="form-inline col-md-offset-1" style="margin-top:20px;">
								<label class="label1" for="">Họ tên: </label>  
								<input id="txtFullName" name="txtFullName" type="text" class="form-control input-md" maxlength="50" size="20" autofocus>
							</div>
							<div class="form-inline col-md-offset-1" style="margin-top:20px;">
								<label class="label1" for="">Địa chỉ: </label>  
								<input id="txtAddress" name="txtAddress" type="text" class="form-control input-md" maxlength="100" size="20">
							</div>
							<div class="form-inline col-md-offset-1" style="margin-top:20px;">
								<label class="label1" for="">CMND: </label>  
								<input id="txtIdCard" name="txtIdCard" type="text" class="form-control input-md" maxlength="12" size="20">
							</div>
							<div class="form-inline col-md-offset-1" style="margin-top:20px;">
								<label class="label1" for="">Mã số thuế: </label>  
								<input id="txtTaxcode" name="txtTaxcode" type="text" class="form-control input-md" maxlength="20" size="20">
							</div>
							<div class="form-inline col-md-offset-1" style="margin-top:20px;">
								<label class="label1" for="">Điện thoại: </label>  
								<input id="txtPhone" name="txtPhone" type="text" class="form-control input-md" maxlength="20" size="20">
							</div>							
							<div class="form-inline col-md-offset-1" style="margin-top:20px;margin-bottom:20px;">
								<label class="label1" for="">Email: </label>  
								<input id="txtEmail" name="txtEmail" type="text" class="form-control input-md" maxlength="50" size="20">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-3" style="background-color:rgb(236,236,236);border:1px solid rgb(215,215,215);">
					<div id="panel3">
						<div class="form-inline col-md-offset-9" style="margin-top:10px;margin-bottom:10px;">
							<button class="btn btn-danger col-md-offset-5" value="bntBack" name="bntBack"><b>Quay lại</b></button>
						</div>
					</div>
					<div id="panel4">
						<div class="form-inline col-md-offset-9" style="margin-top:10px;margin-bottom:10px;">
							<button class="btn btn-success" value="bntSave" name="bntSave"><b>Lưu</b></button>
							<button class="btn btn-danger" value="bntBack" name="bntBack" style="margin-left:3px;"><b>Quay lại</b></button>
						</div>
					</div>
				</div>
            </div>
        </div>
		<script>
			(function(){
				$('#panel1').show();
				$('#panel2').hide();
				$('#panel3').show();
				$('#panel4').hide();
				$('#panel1-btn').click(function(){
					$('#panel1').show();$('#panel3').show();$('#panel2-btn').removeClass('active');
					$('#panel2').hide();$('#panel4').hide();$('#panel1-btn').addClass('active');
				});
				$('#panel2-btn').click(function(){
					$('#panel1').hide();$('#panel3').hide();$('#panel2-btn').addClass('active');
					$('#panel2').show();$('#panel4').show();$('#panel1-btn').removeClass('active');
				});
			})();
		</script>
</body>
</html>