<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<head>
<title>Perfect Destination Traveling Website Template | Services :: W3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/dropdownlist.css">
<link rel="stylesheet" href="css/flexslider.css" media="screen" />
<!-- jQuery -->
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
 <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>
<!-- FlexSlider -->
 <script defer src="js/jquery.flexslider.js"></script>

 	<script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
<!--End FlexSlider-->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="js/jquery.min.js"></script>
<script src="js/responsiveslides.min.js"></script>
</head>
<body>
		<!---start-header---->
			<div class="header">
				<div class="wrap">
				<div class="logo">
					<a href="K0001.html"><img src="images/logo.png" title="logo" /></a>
				</div>
                <div class="dropdown">
                      <select name="one" class="dropdown-select">
                        <option value="0">English</option>
                        <option value="1">Japanese</option>
                        <option value="2">Tiếng Việt</option>
                      </select>
                 </div>
				<div class="top-nav">
					<ul>
						<li><a href="K0001.html">Home</a></li>
						<li><a href="rooms.html">rooms</a></li>
						<li class="active"><a href="services.html">Services</a></li>
						<li><a href="restaurant.html">Restaurant</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
                <div class="log">
            	<ul>
                	<li><a href="#">Acount</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            	</div>
				<div class="clear"> </div>
			</div>
		</div>
			<!---End-header---->
		<div class="content">
				<!---start-services---->
				<div class="services">
					<div class="wrap">
					  <div class="services-header">
						<h3>Services</h3>
					 </div>
					   <div class="section group group">
							<div class="listview_1_of_2 images_1_of_2">
								<div class="listimg listimg_2_of_1">
									  <img src="images/res.png">
								</div>
							    <div class="text list_2_of_1">
									<h3><span>Travel</span> Resources</h3>
									<h4>Sed ut perspiciatis undeaccusantium .</h4>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>
									 <a class="button" href="#">Learn More</a>
							   </div>
						   </div>			
							<div class="listview_1_of_2 images_1_of_2">
								<div class="listimg listimg_2_of_1">
									  <img src="images/guid.png">
								</div>
								<div class="text list_2_of_1">
									  <h3><span>Access</span> Guides</h3>
									  <h4>Sed ut perspiciatis undeaccusantium .</h4>
									 		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>
									  <a class="button" href="#">Learn More</a>
								</div>
							</div>
						</div>
						<div class="section group">
							<div class="listview_1_of_2 images_1_of_2">
								<div class="listimg listimg_2_of_1">
									  <img src="images/air.png">
								</div>
							    <div class="text list_2_of_1 ">
									<h3><span>Airline</span> Travels</h3>
									<h4>Sed ut perspiciatis undeaccusantium .</h4>
									   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>
									 <a class="button" href="#">Learn More</a>
							   </div>
						   </div>			
							<div class="listview_1_of_2 images_1_of_2">
								<div class="listimg listimg_2_of_1">
									  <img src="images/compin.png">
								</div>
								<div class="text list_2_of_1">
									  <h3><span>Travel </span>Companions</h3>
									  <h4>Sed ut perspiciatis undeaccusantium .</h4>
									    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>
									  <a class="button" href="#">Learn More</a>
								</div>
							</div>
						</div>
				  </div>
				</div>
				<!---End-services---->
				<div class="specials">
				   <div class="wrap">
					<div class="specials-heading">
					  <h3>Latest-News</h3>
					</div>
					<div class="specials-grids">
						<div class="special-grid">
							<img src="images/grids-img1.jpg" title="image-name" />
							<a href="#">Latest Plans</a>
							<p>Lorem ipsum dolor sit amet consectetur adiing elit. In volutpat luctus eros ac placerat. Quisque erat metus facilisis non feu,aliquam hendrerit quam. Donec ut lectus vel dolor adipiscing tincnt.</p>
						</div>
						<div class="special-grid">
							<img src="images/grids-img2.jpg" title="image-name" />
							<a href="#">Pre Plans</a>
							<p>Lorem ipsum dolor sit amet consectetur adiing elit. In volutpat luctus eros ac placerat. Quisque erat metus facilisis non feu,aliquam hendrerit quam. Donec ut lectus vel dolor adipiscing tincnt.</p>
						</div>
						<div class="special-grid spe-grid">
							<img src="images/grids-img3.jpg" title="image-name" />
							<a href="#">Free Plans</a>
							<p>Lorem ipsum dolor sit amet consectetur adiing elit. In volutpat luctus eros ac placerat. Quisque erat metus facilisis non feu,aliquam hendrerit quam. Donec ut lectus vel dolor adipiscing tincnt.</p>
						</div>
						<div class="clear"> </div>
					</div>
			   </div>
			</div>	
		</div>
		<!---End-content---->
		<div class="clear"> </div>
        <div class="footer-bar">
            	<h3>Experience a wonderful life</h3>
                <div class="footer-social">
                	<a href="#"><img src="images/facebook-icon.png"></a>
                    <a href="#"><img src="images/twister-icon.png"></a>
                    <a href="#"><img src="images/in-icon.png"></a>
                </div>
        </div>
        <div class="clear"> </div>
        <!---start-footer---->
		<div class="footer">       	
			<div class="wrap">
			<div class="footer-grids">
				<div class="footer-grid">
					<h3 style="font-family:'Times New Roman', Times, serif">LOCATION, MAP</h3>
					<p>XhaoLin hotel, 164-Ha Long-Quang Ninh</p><br>
                    <div id="googleMap" style="width: 260px; height: 150px; border:#F90 solid 1px;">Google Map</div>
				</div>
				<div class="footer-grid">
					<h3 style="font-family:'Times New Roman', Times, serif;text-align:center;">REGISTER TO GET NOTIFICATIONS</h3>
					<div class="footer-grid-email">
                    	<a href="#"><h5>Email address</h5></a>
                    </div>
                    <div class="footer-grid-signup">
                    	<a href="#"><h5>SIGN UP</h5></a>
                    </div>
				</div>
				<div class="footer-grid">
					<h3 style="font-family:'Times New Roman', Times, serif; text-align:center;" >CETIFICATES</h3>
					<div class="flexslider">
                      <ul class="slides">
                        <li>
                            <img src="images/standard1.jpg" />
                            </li>
                            <li>
                            <img src="images/standard2.jpg" />
                            </li>
                            <li>
                            <img src="images/standard3.jpg" />
                            </li>
                            <li>
                            <img src="images/standard4.jpg" />
                            </li>
                      </ul>
                    </div>
				</div>
				<div class="footer-grid footer-lastgrid">
					<h3 style="font-family:'Times New Roman', Times, serif">CONTACT US</h3>
					<p>Please contact us when you need to enjoy</p>
					<div class="footer-grid-address">
						<p>Tel: +841662451994</p>
						<p>Fax: 1234 568</p>
						<p>Email:<a class="email-link" href="#">xhaolinhotel@gmail.com</a></p>
					</div>
				</div>
				<div class="clear"> </div>
			</div>
			</div>
		</div>
		<!---End-footer---->
		<div class="clear"> </div>
		<div class="copy-right">
			<p style="text-transform:none">Design by <a href="https://www.facebook.com/groups/1207951515940541/">XhaolinLayout</a></p>
		</div>
	</body>
</html>

