<meta name="_token" content="{!! csrf_token() !!}"/>
<html lang="en">

<head>
	<!-- The jQuery library is a prerequisite for all jqSuite products -->
	<script type="text/ecmascript" src="jqgrid/js/jquery-1.11.0.min.js"></script>
<!--<script type="text/ecmascript" src="{{asset('jqgrid/js/jquery-3.2.1.min.js') }}"></script>-->
	<!-- We support more than 40 localizations -->
	<script type="text/ecmascript" src="jqgrid/js/i18n/grid.locale-en.js"></script>
	<!-- This is the Javascript file of jqGrid -->
	<script type="text/ecmascript" src="jqgrid/js/jquery.jqGrid.min.js"></script>
	<!-- This is the localization file of the grid controlling messages, labels, etc.
    <!-- A link to a jQuery UI ThemeRoller theme, more than 22 built-in and many more custom -->
	<link rel="stylesheet" type="text/css" media="screen" href="bootstrap-3.3.4-dist/css/bootstrap.min.css" />
	<!-- The link to the CSS that the grid needs -->
	<link rel="stylesheet" type="text/css" media="screen" href="jqgrid/css/ui.jqgrid-bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	<script>
	</script>
	<script type="text/ecmascript" src="bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
	<meta charset="utf-8" />

	<title>jqGrid Loading Data - Million Rows from a REST service</title>
	<style type="text/css">
	body
	{
		padding: 0;
		margin: 0;
	}
	</style>
</head>
<body>
<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="col-md-12 col-xs-12" style="margin-top:1%;background-color:rgb(245,245,245);">
						<p class="brand-title">Reservation List</p>
			</div>
			<div class="col-md-12 col-xs-12" style="background-color:rgb(236,236,236);">
				<div class="col-md-4 col-xs-7" style="margin-top:20px;">
					<form class="form-horizontal">
						<fieldset>
						<div class="form-group">
									<label class="col-md-5 control-label" for="">First name:</label>
									<div class="col-md-7">
										<input id="txtFName" name="txtFName" type="text" class="form-control input-md">
									</div>					
						</div>
						<div class="form-group">
									<label class="col-md-5 control-label" for="">Status:</label>
									<div class="col-md-7">
										<select id="status" name="status" class="form-control input-md">
										<option value="">Anh</option>
										<option value="">Đi</option>
										<option value="">Ăn</option>
										<option value="">Cơm</option>
										</select>
									</div>					
						</div>
						</fieldset>
					</form>
				</div>
				<div class="col-md-4 col-xs-7" style="margin-top:20px;">
					<form class="form-horizontal">
						<fieldset>
						<div class="form-group">
									<label class="col-md-5 control-label" for="">Last name:</label>
									<div class="col-md-7">
										<input id="txtLName" name="txtLName" type="text" class="form-control input-md">
									</div>						
						</div>
						</fieldset>
					</form>
				</div>
				<div class="col-md-3 col-md-offset-1 col-xs-7" style="margin-top:20px;">					
					<button id="btnSearch" class="button" type="button">Search</button>						
				</div>
				<div class="col-md-12 col-xs-12"><hr></div>
				<div class="col-md-12 col-xs-12">
					<table id="jqGrid" style="border:1px solid gray;"></table>
					<div id="jqGridPager" style="height:40px;"></div>
				</div>
			</div>
			<div class="col-md-12 col-xs-12" style="background-color:rgb(245,245,245);">
				<div class="col-md-3 col-md-offset-9 col-xs-7" style="margin-top:10px;margin-bottom:10px;">					
					<button id="btnBack" class="button" type="button">Back</button>						
				</div>
			</div>
				
		</div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $("#jqGrid").jqGrid({
            datatype: "local",
            mtype: "GET",

            styleUI : 'Bootstrap',
            colNames:['Id','Fist name', 'Last name', 'Phone','Country'],
            colModel: [
                { index:'Id', name: 'item1', key: true, width: 75 },
                { index:'Fist name', name: 'item2', width: 150 },
                { index:'Last name', name: 'item3', width: 150 },
                { index:'Phone', name: 'item4', width: 150 },
                { index:'Country', name: 'item5', width: 150 }
            ],
            viewrecords: true,
            height:400,
            rowNum: 10,
            pager: "#jqGridPager",


            ondblClickRow: function(rowId) {
                var rowData = jQuery(this).getRowData(rowId);
                var OrderID = rowData['CustomerID'];

                var aQryStr = "OrderID= " + OrderID ;
                alert(aQryStr)

            },
            loadComplete: function(){

			}
        });
        //jQuery("#jqGrid").jqGrid('filterToolbar',{autosearch : false});
		var jList = [];
        $('#jqGrid').jqGrid('setGridWidth', '800');



		function addData(result){

		    for(var i = 0; i< result.length; i++){
		        var x ={
					item1: result[i].id,
						item2: result[i].first_name,
						item3: result[i].last_name,
						item4: result[i].phone,
						item5: result[i].country
				};
		        jList.push(x);
			}
            jQuery("#jqGrid").setGridParam({data: jList });
            jQuery("#jqGrid")[0].refreshIndex();
            jQuery("#jqGrid").trigger("reloadGrid");
		}

		function searchData(fname,lname) {
            jList = [];
            $.ajax({

                url: 'K003/Id',
                method: 'GET',
                cache: false,
                data:{
                    fname: fname,
					lname: lname
				},
                dataType: 'json',


                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    console.log(response);
                    addData($.parseJSON(response));
                    //addDataTable(guest);
                },
                error: function(){
                    console.log( $('#txtFName').val());
                    alert('error');
                }

            });
        }
        $("#btnSearch").click(function(){
            $fname = $('#txtFName').val()
            $lname = $('#txtLName').val()
            jQuery("#jqGrid").jqGrid("clearGridData");
            jQuery("#jqGrid")[0].refreshIndex();
            jQuery("#jqGrid").trigger("reloadGrid");
            searchData($fname,$lname);
		});
    });

</script>
<script type="text/javascript">
    $.ajaxSetup({
        headers: { 'X-CSRF-Token' : $('meta[name=_token]').attr('content') }
    });
</script>

</body>
</html>