* {
    min-height: 0;
    min-width: 0;
}

.bg {
    width: 100%;
    height: 300px;
    background: url('../img/Head03.jpg') fixed;
}

.slider {
    padding: 20px;
    background: rgb(140, 110, 78);
}

.pickroom {
    padding-top: 15px;
}